/****** General ***********/


* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.fa-magnifying-glass {
    display: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}


.listhotel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    padding-top: 20px;
}

.allcard {
    box-shadow: -1px 2px 14px 0px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 5px 5px 15px 5px;
    flex-wrap: wrap;
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

.navcontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0%;
    height: 100%;
}

.shearchtop li {
    display: flex;
    justify-content: center;
    padding: 0%;
    padding-top: 30px;
}

.testa {
    margin-right: 25px;
    width: 50%;
    height: 100%;
}

.logotitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

li:hover {
    border-top: solid 2px #0065FC;
    color: #0065FC;
}



.logo {
    width: 61.09px;
    height: 19px;
    padding-top: 40px;
    padding-bottom: 40px;

}


.boldtitle {
    font-size: 22px;
    margin: 0;
}

.subtitle {
    width: 1340px;
    height: 19px;
}

.fa-solid.fa-location-dot {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    width: 40px;
    height: 100%;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.location {
    display: flex;
    align-items: center;
    width: 140px;
    font-weight: bold;
    padding-left: 19px;
    resize: none;
    border: solid 2px #d9d9d9;
    height: 40px;
    vertical-align: middle;
}

.globalsearch {
    display: flex;
    border-radius: 22px;
    align-items: center;
}

.boxflexshearch {
    display: flex;
    flex-direction: row;
}

.fa-location-dot {
    display: flex;
    background-color: #d9d9d9;

}

.research {
    display: flex;
    color: white;
    background-color: #0065FC;
    height: 46px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 1px;
    align-items: center;
}

.shearchcity {
    font-weight: bold;
    display: flex;
    padding: 16px;
}

.filter {
    display: flex;
    font-weight: bold;
    margin-right: 6px;
    align-items: center;
}

.Listfilter {
    display: flex;
    flex-direction: row;
    margin-right: 15px;
    margin-top: 2%;
    margin-bottom: 20px;
}

.allfilter {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.iconfilter {
    display: flex;
    align-items: center;
    font-weight: bold;
    border: solid 2px #d9d9d9;
    border-radius: 20px;
    padding-left: 7px;
    padding-right: 7px;
    margin: 10px;
    height: 40px;
}


.fa-money-bill-wave {
    margin-right: 10px;
    display: flex;
}

.fa-person {
    margin-right: 10px;
}

.fa-heart {
    margin-right: 10px;
}

.fa-fire {
    margin-right: 10px;
}

.iconfilter:hover {
    background-color: #DEEBFF;

}

.iconinfobar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    border: solid 1px #d9d9d9;
    font-size: 14px;
    padding: 10px;
    margin-right: 10px;
    color: #0065fc;
}

.infobar {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    font-size: 18px;
}

.information1 {
    padding-left: 10px;
}

/****** Hébergements à Marseille  ***********/
.accommodationtitle {
    margin: 0;
    font-size: 22px;
}

.hotel1 {
    width: 250.33px;
    height: 120px;
    border: 5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}


.titlecard1 {
    margin-top: 10px;
    margin-bottom: 4px;
    margin-left: 15px;
}

.undertitlecard {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 15px;
}


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}



/****** Hebergements ***********/
.hebergements {
    width: 65%;
    background-color: var(--main-bg-color);
    border-radius: 20px;
    box-sizing: border-box;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-top: 0px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
    background-color: var(--main-bg-color);
    border-radius: 20px;
    box-sizing: border-box;
    padding: 30px;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 40px;
}

.populaires-cards img {
    width: 33%;
    height: 145px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

.card-rating1 {
    margin-left: 15px;
    margin-bottom: 15px;
}

.seemore {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* liste des activité */

.activityandcontent {
    display: flex;
    border: 20px;
    justify-content: space-around;
}



.allactivity {
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
}



.allactivity {
    border: radius 20px;
    box-shadow: -1px 2px 14px 0px rgba(0, 0, 0, 0.2);
}

.activityimage {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 297px;
    height: 380px;
    object-fit: cover;
}

.textactivity {
    margin-left: 19px;
    border-top: 20px;
}

.titleactivity {
    margin-left: 27px;
}

.botominfo {
    display: flex;
    flex-direction: row;
    background-color: var(--main-bg-color);
    margin-top: 35px;
    justify-items: flex-start;
}

.moreinfo {
    margin-right: 25%;
    padding: 20px;
}

.textfiltera {
    padding-right: 6px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {

    .Listfilter {
        display: block;
    }

    .listhotel {
        display: flex;
        width: 100%;
        height: 100%;
        gap: 30px;
    }

    .hebergements {
        width: 100%;
        padding: 30px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        justify-content: space-between;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .allactivity {
        width: 193px;
        height: 270px;
    }

    .activityimage {
        width: 193.5px;
        height: 200px;
    }

    .activityandcontent {
        gap: 10px;
    }

    .textactivity {
        padding-bottom: 15px;
        font-size: 13px;
    }

    .moreinfo {
        margin-right: 18%;
    }

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    .main-container {
        padding: 0%;
    }

    .logotitle {
        flex-direction: column;
        align-items: center;
    }


    .shearchtop {
        width: 100%;
        text-align: center;
    }

    .navcontainer {
        border-bottom: 2px solid lightgray;
        display: flex;
        height: 60px;
        width: 100%;
        justify-content: center;
    }


    li:hover {
        border-bottom: 2px solid #0065FC;
        border-top: none;

    }


    .testa {
        width: 50%;
        height: 50%;
    }


    .boldtitle {
        width: 100%;
    }

    .Listfilter {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
    }

    .allfilter {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }

    .iconfilter {
        display: flex;
        width: 80%;
        height: 100%;
        box-sizing: border-box;
    }

    .textfiltera {
        font-size: 90%;
    }

    .populaires {
        order: 1;
        width: 100%;
        height: 100%;
        border-radius: 0px;
        margin-left: 0%;
        margin-right: 0%;
    }

    body {
        display: flex;
        justify-content: center;
        margin-left: 0%;
        margin-right: 0%;
    }

    .infobar {
        display: flex;
        margin-left: 20px;
        margin-right: 20px;
    }

    .boxflexshearch {
        display: flex;
        justify-content: start;
        width: 100%;
    }

    .research {
        display: none;
    }

    .fa-solid.fa-location-dot {
        width: 50px;
        display: flex;
    }

    .fa-magnifying-glass {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #0065FC;
        color: #F2F2F2;
        width: 49px;
        height: 100%;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        box-shadow: -1px 2px 14px 0px rgba(0, 0, 0, 0.2);
    }

    .location {
        width: 231px;
        display: flex;
        text-align: center;
        padding-left: 0%;
    }

    .hebergements {
        display: flex;
        order: 2;
        width: 100%;
        height: 100%;
        background-color: transparent;
        flex-wrap: wrap;
    }

    .listhotel {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
    }

    .allcard {
        display: flex;
    }


    .hebergements-and-populaires {
        display: flex;
        flex-direction: column;
    }

    .hotel1 {
        display: flex;
        width: 306px;
    }

    .botominfo {
        display: flex;
        flex-direction: column;

    }

    .flexactivity {
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .activityandcontent {
        display: flex;
        flex-wrap: wrap;
        padding-top: 20px;
        justify-content: center;

    }

    .activityimage {
        height: 140px;
    }

    .textmain {
        margin-left: 20px;
    }

    .iconfilter:hover {
        background-color: #DEEBFF;

    }

    .activity {
        padding-top: 30%;
    }

    .navcontainer {
        gap: 50px;
    }


}